<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'edge/images/favicon.png' %}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unlock&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'edge/css/styles.css' %}" />
        <script src="{% static 'edge/js/scripts.js' %}" defer></script>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <title>OXELAN CONSULTING PLC</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}"
                    ><img
                        src="{% static 'edge/images/WHITE HORZONTAL LOGO.png' %}"
                        alt=""
                /></a>
            </div>
            <div class="nav">
                <ul data-visible="false">
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li>
                        <div class="dropdown">
                            <a href="{% url 'about' %}">ABOUT</a>
                            <div class="dropdowncontent">
                                <ul>
                                    <li>
                                        <a href="{% url 'about' %}#mainabout"
                                            >Who we are</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}#mission"
                                            >Mission and Vision</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}#values"
                                            >Our Values</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}#solutions"
                                            >Our Solutions</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}#whychooseus"
                                            >Why Choose Us</a
                                        >
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}#industries"
                                            >Industries We Server</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="{% url 'services' %}">SERVICES </a>
                            <div class="dropdowncontent">
                                <ul>
                                    <li>
                                        <a
                                            href="{% url 'services' %}?consultingservices"
                                            >Comprehensive Research</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="{% url 'services' %}?trainingservices"
                                            >Strategic Consulting</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="{% url 'services' %}?vocationalskills"
                                            >Training and Mentorship</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="{% url 'services' %}?researchmentorship"
                                            >Business Development Services</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'news' %}">NEWS/BLOG</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                </ul>
                <div class="mobile-menu" aria-expanded="false"></div>
            </div>
        </div>
        {% block content %} {% endblock content %}
        <div class="footer">
            <div class="footer-wrapper">
                <section>
                    <div class="address">
                        <img
                            src="{% static 'edge/images/WHITE HORZONTAL LOGO.png' %}"
                            alt=""
                        />
                        <p>Bole street, Addis Ababa, Ethiopia</p>
                        <div class="label">
                            <h2>Phone</h2>
                            <p>+251 946855555</p>
                        </div>
                        <div class="label">
                            <h2>Email</h2>
                            <p>info@oxelanconsultet.com</p>
                        </div>
                        <div class="socialmedialogos">
                            <div class="facebook">
                                <img
                                    src="{% static 'edge/images/Facebook.png' %}"
                                    alt=""
                                />
                            </div>
                            <div class="linkedin">
                                <img
                                    src="{% static 'edge/images/LinkedIn.png' %}"
                                    alt=""
                                />
                            </div>
                            <div class="instagram">
                                <img
                                    src="{% static 'edge/images/Instagram.png' %}"
                                    alt=""
                                />
                            </div>
                            <div class="telegram">
                                <img
                                    src="{% static 'edge/images/telegram.png' %}"
                                />
                            </div>
                        </div>
                        <div class="subscribe-form">
                            <input
                                class="sub-input"
                                type="text"
                                placeholder="Enter Email"
                            />
                            <div class="subscribe-btn">
                                <h2>Subscribe</h2>
                            </div>
                        </div>
                    </div>
                    <div class="linkswrapper">
                        <div class="links">
                            <h1>Useful Links</h1>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>
                                    <a href="{% url 'about' %}">About us</a>
                                </li>
                                <li>
                                    <a href="{% url 'services' %}">Services</a>
                                </li>
                                <li>
                                    <a href="{% url 'news' %}">News/Blog</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="links">
                            <h1>Our Services</h1>
                            <ul>
                                <li>
                                    <a
                                        href="{% url 'services' %}?consultingservices"
                                        >Comprehensive Research</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="{% url 'services' %}?trainingservices"
                                        >Strategic Consulting</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="{% url 'services' %}?vocationalskills"
                                        >Training and Mentorship</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="{% url 'services' %}?researchmentorship"
                                        >Business Development Services</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="links">
                            <h1>Company</h1>
                            <ul>
                                <li>
                                    <a href="{% url 'about' %}#mission"
                                        >Mission and Vision</a
                                    >
                                </li>
                                <li>
                                    <a href="{% url 'about' %}#whychooseus"
                                        >Why Choose Us</a
                                    >
                                </li>
                                <li>
                                    <a href="{% url 'about' %}#values"
                                        >Values</a
                                    >
                                </li>
                                
                            </ul>
                        </div>
                        <div class="links">
                            <h1>Social Links</h1>
                            <div class="flex">
                                <ul>
                                    <li><a href="#1">Facebook</a></li>
                                    <li><a href="#1">Twitter</a></li>
                                    <li><a href="#1">Instagram</a></li>
                                    <li><a href="#1">Linkedin</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#1">Whatsapp</a></li>
                                    <li><a href="#1">Tiktok</a></li>
                                    <li><a href="#1">Youtube</a></li>
                                    <li><a href="#1">Telegram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="flair"></div>
                <div class="copyright">
                    <p>&copy; 2024</p>
                    <h1>OXELAN CONSULTING PLC.</h1>
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </div>
    </body>
</html>
