{%extends 'edge/base.html' %} {% block content %} {% load static %}
<div class="container">
    <div class="subherosection">
        {% include 'edge/socialhub.html' %}
        <div class="subhero-content">
            <h1>Services</h1>
            <p>Services</p>
        </div>
    </div>
    <main class="servicemain">
        <div class="servicesmain">
            <div>
                <div class="tabs-container">
                    <ul>
                        <li
                            aria-expanded="true"
                            href="#consultingservices"
                            class="consultingservices"
                        >
                            <a aria-expanded="true">Comprehensive Research</a>
                        </li>
                        <li
                            aria-expanded="false"
                            href="#trainingservices"
                            class="trainingservices"
                        >
                            <a>Strategic Consulting</a>
                        </li>
                        <li
                            aria-expanded="false"
                            href="#vocationalskills"
                            class="vocationalskills"
                        >
                            <a>Training and Mentorship</a>
                        </li>
                        <li
                            aria-expanded="false"
                            href="#researchmentorship"
                            class="researchmentorship"
                        >
                            <a>Business Development Services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="panelwrapper"
                id="consultingservices"
                aria-expanded="true"
            >
                <div>
                    <div>
                        <img
                            src="{% static 'edge/images/reasearch.jpeg' %}"
                            alt=""
                        />
                        <h4>
                            At OXELAN we pride ourselves on our expertise in
                            executing comprehensive surveys, studies, and
                            monitoring and evaluation (M&E) frameworks. Our
                            dedicated research team is committed to delivering
                            high-quality, tailored solutions that meet the
                            unique needs of each project or organization.
                        </h4>
                    </div>
                    <div>
                        <div class="drop card">
                            <h2>Large-Scale Surveys and Studies:</h2>

                            <p>
                                We specialize in designing and implementing
                                large-scale surveys and studies to gather
                                crucial data and insights. Whether it's market
                                research, customer feedback surveys, or
                                socioeconomic studies, our team employs rigorous
                                methodologies to ensure the accuracy and
                                reliability of the information collected.
                            </p>
                        </div>
                        <div class="drop card">
                            <h2>Responsive Evaluation Studies:</h2>
                            <p>
                                Our evaluation studies are designed to be
                                responsive to the specific research needs at
                                hand. Whether it's assessing the outcomes of a
                                development project, project impact assessment,
                                baseline study, evaluating the effectiveness of
                                a policy intervention, or analyzing the impact
                                of a social program, we employ a meticulous
                                approach to gather, analyze, and interpret data,
                                providing actionable insights and
                                recommendations.
                            </p>
                        </div>
                        <div class="drop card">
                            <h2>
                                Customized Monitoring and Evaluation (M&E)
                                Systems:
                            </h2>
                            <p>
                                We understand the importance of monitoring and
                                evaluating the effectiveness of programs and
                                initiatives. That's why we develop customized
                                M&E frameworks that enable organizations to
                                track progress, measure impact, and make
                                data-driven decisions. From setting clear
                                objectives to defining key performance
                                indicators (KPIs) and implementing data
                                collection tools, we ensure that our M&E systems
                                are tailored to the unique needs of each client.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="panelwrapper"
                id="trainingservices"
                aria-expanded="false"
            >
                <div>
                    <div>
                        <img
                            src="{% static 'edge/images/train.avif' %}"
                            alt=""
                        />
                        <h4>
                            At OXELAN, we specialize in providing strategic
                            consulting services that empower our clients to
                            maximize the accuracy and reliability of their
                            information systems. Our comprehensive approach
                            encompasses qualitative and quantitative research,
                            tailored monitoring and evaluation (M&E) systems,
                            and extensive capacity building and logistical
                            support.
                        </h4>
                    </div>
                    <div>
                        <div class="card drop">
                            <h2>Maximizing Data Accuracy and Reliability:</h2>
                            <p>
                                We assist our clients in optimizing the accuracy
                                and reliability of the information that drives
                                their programs. Through a combination of
                                qualitative and quantitative research
                                methodologies, we gather and analyze data to
                                provide valuable insights and actionable
                                recommendations.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>
                                Designing Tailored Monitoring and Evaluation
                                (M&E) Systems:
                            </h2>
                            <p>
                                Our consulting services extend to the design and
                                implementation of customized M&E systems. We
                                work closely with our clients to define clear
                                objectives, establish key performance indicators
                                (KPIs), and develop data collection tools that
                                align with their specific needs and goals.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>
                                Providing Extensive Capacity Building and
                                Logistical Support:
                            </h2>
                            <p>
                                In addition to research and M&E, we offer
                                comprehensive capacity building and logistical
                                support services. We equip our clients with the
                                knowledge, skills, and resources they need to
                                effectively manage and implement their programs,
                                ensuring long-term success and sustainability.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="panelwrapper"
                id="vocationalskills"
                aria-expanded="false"
            >
                <div>
                    <div>
                        <img
                            src="{% static 'edge/images/vision.avif' %}"
                            alt=""
                        />
                        <h4>
                            At OXELAN, we offer comprehensive training and
                            mentorship services aimed at empowering both
                            individuals and organizations with the skills and
                            knowledge necessary for success. Our diverse range
                            of programs caters to various needs, encompassing
                            everything from soft skills enhancement to
                            specialized industry training and capacity
                            development.
                        </h4>
                    </div>
                    <div>
                        <div class="card drop">
                            <h2>Tailored Programs for Success:</h2>
                            <p>
                                Our training and mentorship initiatives are
                                meticulously crafted to address the specific
                                requirements of our clients. Whether you're
                                seeking to improve soft skills, enhance
                                industry-specific knowledge, or build
                                organizational capacity, we customize our
                                programs to meet your unique needs and
                                objectives.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>Range of Offerings:</h2>
                            <p>
                                With a wide array of programs available, we
                                provide training and mentorship opportunities
                                across diverse domains. Whether you're an
                                individual looking to develop your professional
                                skills or an organization seeking to upskill
                                your workforce, we offer programs tailored to
                                your requirements.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>Empowering Growth and Development:</h2>
                            <p>
                                Through our training and mentorship services, we
                                aim to empower individuals and organizations to
                                achieve their full potential. By equipping
                                participants with the necessary skills,
                                knowledge, and guidance, we facilitate personal
                                and professional growth, driving success and
                                excellence in all endeavors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="panelwrapper"
                id="researchmentorship"
                aria-expanded="false"
            >
                <div>
                    <div>
                        <img
                            src="{% static 'edge/images/blog_background.jpg' %}"
                            alt=""
                        />
                        <h4>
                            Our business development services are meticulously
                            crafted to catalyze fostering growth and
                            facilitating expansion within your organization. We
                            understand the importance of not only sustaining but
                            also propelling your business forward in today's
                            competitive landscape. Through our comprehensive
                            suite of services, we aim to empower your
                            organization to reach its full potential and achieve
                            sustainable success.
                        </h4>
                    </div>
                    <div>
                        <div class="card drop">
                            <h2>Strategic Planning and Market Research:</h2>
                            <p>
                                We assist in crafting comprehensive strategic
                                plans that align with your organizational
                                objectives and vision. From market analysis to
                                goal setting, we provide strategic guidance to
                                steer your business towards success. Our team
                                conducts in-depth market research and analysis
                                to identify opportunities, trends, and potential
                                challenges in your industry. We provide
                                actionable insights to help you make informed
                                business decisions.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>Brand Development and Marketing support:</h2>
                            <p>
                                We provide training and capacity-building
                                programs to enhance the skills and capabilities
                                of your team. From leadership development to
                                sales training, we empower your employees to
                                excel in their roles. We help build and
                                strengthen your brand identity through effective
                                branding strategies and campaigns. From logo
                                design to brand messaging, we ensure that your
                                brand resonates with your target audience. We
                                offer sales and marketing support services to
                                help you reach and engage your target customers
                                effectively. From developing marketing
                                collateral to implementing sales strategies, we
                                help drive growth and revenue.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>Partnership and Collaboration:</h2>
                            <p>
                                We facilitate partnerships and collaborations
                                with other businesses and organizations to
                                expand your reach and access new markets. From
                                identifying potential partners to negotiating
                                agreements, we help foster mutually beneficial
                                relationships.
                            </p>
                        </div>
                        <div class="card drop">
                            <h2>Financial Planning and Management:</h2>
                            <p>
                                We offer financial planning and management
                                services to help you optimize your resources and
                                maximize profitability. From budgeting to
                                financial forecasting, we provide strategic
                                financial guidance to support your business
                                goals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="panelwrapper"
            id="vocationalskills"
            aria-expanded="false"
            hidden
        >
            <h1 class="major">MAJOR TRAINING TOPICS</h1>
            <div class="flex">
                <div>
                    <h4>Leadership and Management Development:</h4>
                    <h6>&#11031; Mindset Training</h6>
                    <h6>&#11031; Vision Development</h6>
                    <h6>&#11031; Ethical Leadership</h6>
                    <h6>&#11031; Executive Leadership</h6>
                    <h6>&#11031; Leadership</h6>
                    <h6>&#11031; Team Building & Succession</h6>
                    <h6>&#11031; Coaching and Mentorship Skills</h6>
                    <h6>&#11031; Organizational Risk Management</h6>
                    <h6>&#11031; Performance Management</h6>
                    <h6>&#11031; Change Management</h6>
                    <h6>&#11031; Kaizen, BSC, BPR, and Deliverology</h6>
                    <h6>
                        &#11031; Transformational Leadership and
                        Management
                    </h6>
                    <h6>
                        &#11031; Conflict Resolution and Mediation
                        Skills
                    </h6>
                    <h6>&#11031; Strategic Decision Making</h6>
                    <h6>&#11031; Crisis Management</h6>
                    <h6>&#11031; Employee Motivation and Engagement</h6>
                    <h6>
                        &#11031; Time Management and Productivity
                        Enhancement
                    </h6>
                    <h6>&#11031; Cross-cultural Leadership</h6>
                    <h6>&#11031; Project Management</h6>
                    <h6>&#11031; Negotiation Skills</h6>
                    <h6>&#11031; Communication Skills for Leaders</h6>
                </div>
                <div>
                    <h4>
                        Entrepreneurship and Business Development
                        Service:
                    </h4>

                    <h6>&#11031; Entrepreneurship skills</h6>
                    <h6>&#11031; Business Model Innovation</h6>
                    <h6>&#11031; Social Entrepreneurship</h6>
                    <h6>
                        &#11031; Small Business Marketing Strategies
                    </h6>
                    <h6>&#11031; Financial Literacy</h6>
                    <h6>&#11031; Business Development service</h6>
                    <h6>&#11031; Scalable & Sustainable Business</h6>
                    <h6>
                        &#11031; Income Generating Activity (IGA)
                        establishment and development
                    </h6>
                    <h6>&#11031; Market Research and Analysis</h6>
                    <h6>&#11031; Strategic Planning for Startups</h6>
                    <h6>&#11031; Access to Finance and Funding</h6>
                    <h6>&#11031; Franchise Development</h6>
                    <h6>
                        &#11031; Intellectual Property Rights (IPR)
                        Management
                    </h6>
                    <h6>&#11031; Supply Chain Management</h6>
                    <h6>&#11031; Export and Import Strategies</h6>
                    <h6>
                        &#11031; Innovation and Creativity in Business
                    </h6>
                    <h6>&#11031; Risk Management for Entrepreneurs</h6>
                    <h6>
                        &#11031; E-commerce and Online Business
                        Development
                    </h6>
                </div>
                <div>
                    <h4>Professional Skills and Development:</h4>
                    <h6>&#11031; Emotional Intelligence</h6>
                    <h6>&#11031; Design Thinking</h6>
                    <h6>
                        &#11031; Networking, Negotiation & Partnership
                    </h6>
                    <h6>&#11031; Digital Marketing</h6>
                    <h6>&#11031; Customer Service</h6>
                    <h6>&#11031; Meeting Management</h6>
                    <h6>&#11031; Branding and Communication</h6>
                    <h6>
                        &#11031; Data Management and Knowledge
                        Management
                    </h6>
                    <h6>
                        &#11031; Soft Skills and Employability Skills
                        Training
                    </h6>
                    <h6>&#11031; Teaching Methodology Training</h6>
                    <h6>
                        &#11031; Active Teaching Strategies and Learning
                        Methodology (ATLM)
                    </h6>
                    <h6>
                        &#11031; Conflict Resolution and Mediation
                        Skills
                    </h6>
                    <h6>
                        &#11031; Public Speaking and Presentation Skills
                    </h6>
                    <h6>
                        &#11031; Time Management and Productivity
                        Enhancement
                    </h6>
                    <h6>
                        &#11031; Critical Thinking and Problem Solving
                    </h6>
                    <h6>&#11031; Decision-Making Skills</h6>
                    <h6>&#11031; Creativity and Innovation Skills</h6>
                    <h6>&#11031; Cross-cultural Communication</h6>
                    <h6>&#11031; Adaptability and Resilience</h6>
                </div>
                <div>
                    <h4>Social Impact and Advocacy:</h4>
                    <h6>&#11031; Advocacy and Lobbying</h6>
                    <h6>
                        &#11031; Gender Equality and Women Empowerment
                    </h6>
                    <h6>
                        &#11031; Diversity Management and Conflict
                        Resolution
                    </h6>
                    <h6>
                        &#11031; Prevention of Sexual Exploitation and
                        Abuse Training (PSEA)
                    </h6>
                    <h6>&#11031; Need & Impact Assessment</h6>
                    <h6>
                        &#11031; Social accountability process and
                        scorecard preparation
                    </h6>
                    <h6>&#11031; Monitoring and Evaluation</h6>
                    <h6>
                        &#11031; Social media Literacy & Media Advocacy
                        Training
                    </h6>
                    <h6>&#11031; Local Fund Raising</h6>
                    <h6>&#11031; Project Outcome Harvesting</h6>
                    <h6>
                        &#11031; Waste Management and Waste Recycling
                    </h6>
                    <h6>
                        &#11031; Community Development and Engagement
                    </h6>
                    <h6>&#11031; Human Rights and Advocacy</h6>
                    <h6>&#11031; Environmental Advocacy</h6>
                    <h6>
                        &#11031; Youth Empowerment, network, and
                        Development
                    </h6>
                    <h6>&#11031; Public Policy Advocacy</h6>
                    <h6>
                        &#11031; Corporate Social Responsibility (CSR)
                    </h6>
                    <h6>
                        &#11031; Grassroots Organizing and Mobilization
                    </h6>
                        </div>
                    </div>
                </div>
    </main>
</div>
{% endblock content %}
