*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

main {
    margin: 5rem;
    margin-left: 13vw;
}

.container {
    overflow-x: hidden;
}

/* social hub secion */

.socialhub {
    display: flex;
    width: 93vw;
    padding-right: 6rem;
    padding-left: 2rem;
    background-color: #017bfd38;
    align-items: center;
}

.companyname {
    font-family: "Roboto";
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.socialmedialogos {
    display: flex;
    gap: 5%;
    margin-left: auto;
}

.socialmedialogos img {
    height: 3vh;
}
/* hero */

.herosection {
    background-image: url(images/hero.png);
    background-size: cover;
    height: 100vh;
}

.subherosection {
    background-image: url(images/hero.png);
    background-size: cover;
}

.logo img {
    padding: 2rem;
    padding-left: min(5rem, 5vw);
    width: 15vw;
}

.carousel {
    width: 100vw;
}

.sliders > div,
.sliders > div .unique {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 2rem;
}

.unique {
    background-color: #000000cb;
}

.sliders {
    width: 400%;
    display: flex;
    animation: slide 20000ms infinite;
}

span > img {
    width: min(7vw, 3rem);
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
}

.left {
    position: absolute;
    left: var(--span-margin);
    z-index: 100;
}

.right {
    position: absolute;
    right: var(--span-margin);
}

.herocontent {
    --span-margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.herotitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: min(12vw, 7rem);
    color: white;
    margin-top: auto;
}

.flair {
    width: 5rem;
    height: 0.2rem;
    border-radius: 2rem;
    background-color: #0e8486;
    content: "";
}

.herosubtitle {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: min(4vw, 1.8rem);
    color: #ffffffcc;
}

.herobtn {
    margin-bottom: auto;
    cursor: pointer;
    color: white;
    background-color: #0e8486;
    border: none;
    border-radius: 4rem;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.3vh;
    color: white;
    padding: 2.2vh;
    padding-inline: min(12vw, 4rem);
    margin-top: 5rem;
}

.subhero-content {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.subhero-content h1 {
    color: white;
    font-family: "work sans";
    font-weight: 500;
    font-size: 3.5rem;
}

.subhero-content p {
    color: #0179fd;
    font-family: "open sans";
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.subhero-content p::before {
    content: "Home / ";
    color: #ffffffcc;
}

/* nav bar section */
.nav li,
.nav a,
li,
a {
    list-style: none;
    color: #ffffff99;
    font-family: "Roboto";
    font-weight: 500;
    font-size: min(1.7vw, 1.35rem);
    text-decoration: none;
}

.dropdowncontent {
    display: none;
}

.dropdowncontent > ul {
    display: block;
    background-color: #f5f5f58f;
    position: absolute;
    z-index: 100;
    border-radius: 0.6rem;
}

.dropdowncontent > ul > li {
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
    margin-block: 0.6rem;
    padding-block: 0.6rem;
    background-color: #acb4bd;
    border-radius: 0.4rem;
}

.dropdowncontent > ul > li > a {
    padding-block: 0.3rem;
}

.dropdowncontent > ul > li:hover {
    background-color: white;
}

a:hover,
.dropdown:hover > a {
    color: white;
    font-weight: 400;
}

.dropdown > a::after {
    content: url(images/expand_more_FILL1_wght400_GRAD0_opsz24.svg);
    position: absolute;
}

.dropdowncontent a {
    color: black;
    font-weight: 400;
    font-size: 1rem;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

.navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    margin-top: 2vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar > .nav {
    margin-left: auto;
    padding: 2rem;
    padding-right: 7vw;
}

.stickynav {
    margin: 0;
    background-color: #081222;
    transition: all 100ms;
    box-shadow: 0px 4px 16px 10px #00000062;
    z-index: 9999;
}

.stickynav > .nav,
.stickynav > .logo img {
    margin: 0;
    padding: 0.3rem;
}

.stickynav > .nav {
    margin-left: auto;
    padding-right: 6vw;
}

.stickynav > .logo img {
    padding-left: 6vw;
}

ul {
    display: flex;
    gap: 5vw;
}

.mobile-menu {
    display: none;
}

/* about section */
.aboutus {
    padding-bottom: 4rem;
    padding: 1rem;
}
.aboutus > h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.8vw;
    margin-bottom: 1.2rem;
    padding-top: 10rem;
    color: #1f4255;
}

.aboutus > h1,
.aboutus > .flair {
    margin-left: 12rem;
}

.aboutcontent {
    display: flex;
    gap: 2rem;
}

.aboutcontent > p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: min(4vw, 1.2rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: #364d59;
    text-align: justify;
    text-indent: 1rem;
    word-spacing: -1px;
    max-width: 45ch;
}

.aboutcontent > img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: max(28vw, 30vh);
    height: min-content;
}

/* about main section */
.aboutmain h1 {
    font-family: "Work Sans";
    font-size: 48px;
    font-weight: 700;
    color: #364d59;
}

.aboutmain h2 {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #364d59;
    padding-bottom: 1rem;
    width: 30ch;
    text-align: justify;
}

.aboutmain p {
    width: 45ch;
    text-align: justify;
}

.flex {
    display: flex;
    word-spacing: -1px;
    gap: 4rem;
    flex-wrap: wrap;
}

.aboutmain > div {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 2.5rem;
    width: 100%;
    flex-wrap: wrap;
}

.aboutmaincontent > h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #838893;
}

.aboutmaincontent > h1 {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #364d59;
    padding-bottom: 1.5rem;
}

.aboutmain p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #364d59;
}

.overlay {
    background-image: url("images/aboutbg.png");
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: #000000d0;
    max-height: 32rem;
    min-width: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
/* mission and vision */
.aboutmain > .missionsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-color: #193544;
    gap: 9rem;
    flex-wrap: wrap;
}

.missionsection > h1 {
    color: white;
    margin-top: 3rem;
}

.missionsection > .wrapper {
    display: flex;
    width: 80vw;
}

.missionsection > .wrapper > * {
    margin-right: auto;
    margin-left: auto;
}

.missionsection h2 {
    font-size: 2rem;
    color: whitesmoke;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.missionsection p {
    color: white;
    padding-left: 1rem;
    font-size: 1rem;
    width: 30ch;
}

.missionsection img {
    width: 22rem;
}
.missionsection > img {
    width: 30rem;
    opacity: 70%;
}

.missionsection img:hover {
    scale: 1.2;
}

/* our values section */

.aboutmain > .valuesection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    background-color: whitesmoke;
    padding-bottom: 2rem;
}

.valuesection > p {
    text-align: center;
    width: 67ch;
    margin-block: 2rem;
}

.card:hover {
    transform: translateY(-5%);
}

.aboutmain > .valuesection > p {
    margin-bottom: 2rem;
}

.valuesection > .cardholder {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 2rem;
}

.valuesection > .cardholder img {
    width: 16vw;
    height: 16vw;
}

.flipcardcontent > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
    background-color: var(--flipcard-color);
    border-radius: 100vw;
    box-shadow: 0px 4px 16px 0px #0000001a;
    padding: 2rem;
    height: auto;
    width: auto;
}

.flipcardcontent p,
.flipcardcontent h1 {
    color: hsl(243, 100%, 19%);
    width: auto;
    text-align: center;
    font-size: 0.9rem;
}

.flipcardcontent h1 {
    font-size: 1.4rem;
}

.flipcardcontent > h1 {
    position: absolute;
    bottom: -1.5rem;
    left: -3.5rem;
    font-size: 2.5rem;
    color: #164e5b;
    width: 12ch;
}

.flipcard {
    --flipcard-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50vw;
    height: 16vw;
    width: 16vw;
}
.flipcard:hover .flipcardcontent {
    transform: rotateY(0.5turn);
}

.flipcardcontent {
    background-color: var(--flipcard-color);
    position: relative;
    border-radius: 100vw;
    box-shadow: 0px 4px 16px 0px #0000001a;
    transform-style: preserve-3d;
    transition: transform 3s;
    backface-visibility: hidden;
}

/* our solutions */

.oursolution {
    background-color: #193544;
    padding: 2rem;
}

.oursolution > h1 {
    color: #d1cef9;
}

.oursolution > div {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.oursolution p,
.oursolution h2 {
    color: hsl(244, 90%, 89%);
}

.oursolution > div > p {
    margin-top: 2rem;
    width: 45ch;
}

.oursolution .card {
    display: flex;
}

.oursolution .card > img {
    width: 3rem;
    background-color: white;
    border-radius: 100vw;
    width: 5rem;
    aspect-ratio: 1;
    margin-right: 2rem;
}

.oursolution > .cardholder > div > .card {
    width: 20ch;
}

/* ourteam */

.ourteam {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.ourteamwrapper {
    padding: 10rem;
    padding-block: 2rem;
}

.ourteam img {
    width: 25rem;
}

/* ourservices section */

.ourteam > p,
.ourservice > p {
    width: 45ch;
}

.ourservicewrapper {
    padding: 2rem;
    background-color: whitesmoke;
}

.ourservice {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.bullet {
    display: grid;
    gap: 1rem;
    list-style: disc;
}

.bullet .flex p {
    margin-left: auto;
}

.bullet .flex h1 {
    font-size: 2rem;
}
.ninty::after {
    content: "%";
}
.ninty::before {
    content: ">";
}
/* industries */

.industrieswrapper {
    padding: 2rem;
}

.industries {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
}

.industries > div:hover {
    transform: translatey(-10%);
}

.industries > div > h2 {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.industries > div,
.industries img {
    width: 10rem;
}
/* foundation */

.foundationwrapper {
    padding: 2rem;
    background-color: hsl(201, 82%, 15%);
    background-color: #193544;
}

.foundationwrapper img,
.foundationwrapper .imagecontainer {
    height: 17vw;
    width: 25vh;
}

.foundationwrapper .card {
    display: flex;
    flex-direction: column;
    border-color: hsl(201, 46%, 12%);
}

.foundationwrapper p {
    word-spacing: -3px;
}

.foundationwrapper p,
.foundationwrapper > .flex h1 {
    width: 30ch;
}

.foundationwrapper > .flex h1 {
    padding-bottom: 1rem;
}

.foundationwrapper p,
.foundationwrapper h1 {
    color: white;
}

.foundationwrapper > .flex {
    padding: 3rem;
    gap: 2rem;
}

/* why choose us */
.whychooseus {
    background-image: url("images/office_image.jpg");
    background-position: 20%;
    background-size: cover;
    color: white;
}

.test {
    background-color: #08264fe3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 7rem;
}

.test > h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

/* .test > h1::after,
.test > h1::before {
    content: "";
    background-color: white;
    height: 0.2rem;
    width: 3.15rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.test > h1::before {
    position: absolute;
    left: 47rem;
}

.test > h1::after {
    position: absolute;
    right: 47rem;
} */

.whychooseuscontent {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.whychooseuscontent > .child {
    border-style: solid;
    border-width: 0.4rem;
    border-color: white;
    border-radius: 2rem;
    padding: 2.2rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.whychooseuscontent > .child > img {
    width: min-content;
}

.whychooseuscontent > .child:hover {
    transform: translateY(-3%);
}

.whychooseuscontent > .child > h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.4rem;
}

.whychooseuscontent > .child > h2,
.whychooseuscontent > .child > a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.whychooseuscontent > .child > h2 {
    padding-bottom: 1rem;
    text-align: justify;
    width: 28ch;
    word-spacing: -3px;
}

.whychooseuscontent > .child > .flair {
    background-color: white;
    width: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
}

.whychooseuscontent > .child > a::after {
    content: url(images/learnmorearrow.svg);
    position: relative;
    left: 0.6rem;
}

/* why choose us main section */
.whychooseuswrapper {
    --whychooseuscontentbackground: #122134;
    --whychooseuscontentbackground: #193544;
    --whychooseusbackground: #233345;
    --whychooseusbackground: hsl(201, 46%, 22%);
    background-color: var(--whychooseuscontentbackground);
    margin-top: 3rem;
}

.whychooseusmain {
    display: flex;
    margin-top: 3rem;
    width: 100vw;
}

.whychooseusmain > .whychooseusb {
    background-color: var(--whychooseusbackground);
    padding-left: 2rem;
    padding-top: 4rem;
}

.whychooseusnav {
    padding-top: 3rem;
}

.whychooseusmaincontent > div {
    display: none;
    height: 70vh;
}

.whychooseusmaincontent p {
    margin-top: 3rem;
}

.whychooseusmain h1 {
    padding-right: 2rem;
}

.whychooseusmaincontent p,
.whychooseusmain h1,
.whychooseusnav > ul > li a {
    color: white;
}

.whychooseusmaincontent div[aria-current="true"] {
    display: block;
}

.whychooseusnav > ul {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 2rem;
}

.whychooseusnav > ul > li {
    padding: 2rem;
    position: relative;
}

.whychooseusnav > ul > li.active::after,
.whychooseusnav > ul > li.active::before {
    --border-radius: 2rem;
    content: "";
    position: absolute;
    border-radius: 50%;
    width: var(--border-radius);
    aspect-ratio: 1;
    right: 0;
    background-color: var(--whychooseusbackground);
}

.whychooseusnav > ul > li.active::after {
    box-shadow: 10px 10px 0 10px var(--whychooseuscontentbackground);
    border-radius: 0 0 100vw 0;
    top: calc(var(--border-radius) * -1);
}

.whychooseusnav > ul > li.active::before {
    box-shadow: 10px -10px 0 10px var(--whychooseuscontentbackground);
    border-radius: 0 100vw 0 0;
    bottom: calc(var(--border-radius) * -1);
}

.whychooseusnav > ul > li.active {
    background-color: var(--whychooseuscontentbackground);
    border-radius: 2rem 0 0 2rem;
}

.whychooseusmaincontent {
    background-color: var(--whychooseuscontentbackground);
    padding-left: 10rem;
    padding-top: 4rem;
    border-radius: 2rem;
    width: 60vw;
}

/* achivment section */
.achievments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.achievments > h1 {
    margin-bottom: 4.8rem;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
    color: #1f4255;
}

/* .achievments > h1::after,
.achievments > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.achievments > h1::before {
    position: absolute;
    left: 47rem;
}

.achievments > h1::after {
    position: absolute;
    right: 47rem;
} */

.achievments > .wrapper {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.achievments > .wrapper > .child img,
.achievments > .wrapper > .child {
    width: 40vh;
}

.textwrapper {
    color: white;
    background-color: #164e5b;
    margin-top: -0.5rem;
    min-height: 6rem;
    align-content: center;
}

.textwrapper > p {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding-top: 10%;
}

/* services section */
.tabs-container > h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: min(3rem, 8vw);
    margin-bottom: 5rem;
    color: #1f4255;
}
.tabs-container {
    margin-top: 7.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.tabs-title {
    display: flex;
    text-align: center;
}

.tabs-title > li > a {
    color: #52565e;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem;
}

.tabs-title > li {
    padding-bottom: 1rem;
    border-bottom: 0.25rem solid #e2e4e6;
    cursor: pointer;
}

.tabs-title > li[aria-expanded="true"],
.tabs-title > li > a[aria-expanded="true"] {
    border-color: #0179fd;
    color: #0179fd;
}

.tabs-panels {
    margin-top: 3.12rem;
    width: 100vw;
}

.panelwrapper[aria-expanded="true"] {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.panelwrapper h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: max(2vw, 1.5rem);
    color: #364d59;
    margin-bottom: 2.5rem;
}

.panelwrapper p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: min(4vw, 1.2rem);
    color: #364d59;
    max-width: 40ch;
    text-align: justify;
}

.panelwrapper img {
    width: max(25vw, 50vh);
}

/* main services section */
.servicemain {
    margin-left: 2%;
}
.servicesmain {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vw;
    text-align: left;
    flex-wrap: wrap;
}

.servicesmain > div p,
.servicesmain h4 {
    margin-top: 5%;
    width: 40ch;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #364d59;
}

.servicesmain > div h1 {
    font-family: "Roboto";
    font-size: 1.2remx;
    font-weight: 700;
    color: #364d59;
    padding-block: 1rem;
}

.servicesmain .tabs-container {
    border: 1px solid #d5d7da;
    padding: 2rem 1rem;
    margin-top: 0rem;
}

.servicesmain .tabs-container ul {
    display: block;
}

.servicesmain .tabs-container li {
    padding-top: 2rem;
    cursor: pointer;
}

.servicesmain .tabs-container > ul > li > a {
    color: #52565e;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    border-left: 3px solid #d9e3e8;
    padding-left: 1.2rem;
}
.servicesmain .tabs-container > ul > li > a[aria-expanded="true"] {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 700;
    border-color: #0179fd;
}
.servicesmain > .panelwrapper[aria-expanded="true"] {
    display: block;
}

.servicesmain > .panelwrapper > div {
    display: flex;
    gap: 1rem;
    padding-bottom: 0;
}

.servicesmain > .panelwrapper p {
    width: 90%;
    padding-left: 1rem;
    color: white;
    display: none;
}
.servicesmain > .panelwrapper .card > h2 {
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;

    padding-left: 5%;
}
.servicesmain > .panelwrapper .card > h2::after {
    content: url(images/expand_more_FILL1_wght400_GRAD0_opsz24.svg);
    position: absolute;
    right: 1rem;
}

.drop {
    display: flex;
    flex-direction: column;
}
.servicesmain > .panelwrapper .card {
    border-bottom-color: #fff;
    border-right-color: #fff;
    color: white;
    background-color: #194e5c;
    position: relative;
}

.drop:hover > p {
    display: block;
}

/* highlightes secion */
.highlightes {
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #164e5b;
    padding-inline: 2rem;
    padding-block: 11vh;
    margin-top: 5.7rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.highlightes > .wrapper {
    display: flex;
    background-color: white;
    padding: 1.5rem 2rem;
    padding: 3vh 4.2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

.highlightes h1 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 2.25rem;
    color: #52565e;
    padding-right: 8vw;
}

.highlightes h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9rem;
}
.hundred::after {
    content: "%";
}
.plus::after {
    content: "+";
}
/* blogs and anounsments section */
.blogssectionwrapper {
    background-image: url("images/blogs_background2.jpg");
    background-position: 20%;
    background-size: cover;
    margin-top: 4rem;
}

.blogssection {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 700;
    background-color: #08264fa6;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.blogssection > h1 {
    margin-block: 3.5rem;
    font-size: 2rem;
    color: white;
}

/* .blogssection > h1::after,
.blogssection > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.blogssection > h1::before {
    position: absolute;
    left: 45rem;
}

.blogssection > h1::after {
    position: absolute;
    right: 45rem;
} */

.blogssection > .wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    text-align: center;
    flex-wrap: wrap;
}

.blogsmainsection > .blogssection > .wrapper {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
}

.blogssection > .wrapper h1 {
    font-size: 1rem;
    color: #05132e;
    padding-bottom: 1.62rem;
    padding-top: 1rem;
}

.blogssection > .wrapper p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    color: #05132e;
    padding-bottom: 1.62rem;
}

.blogssection > .wrapper .date {
    position: relative;
    bottom: 2.4rem;
    left: 22.5rem;
    background-color: #0179fd;
    padding: 0.5rem;
    width: fit-content;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.81rem;
}

.blogssection > .wrapper .child {
    background-color: white;
    position: relative;
    bottom: 2.4rem;
    width: 52ch;
}

.blogssection > .wrapper > .fade > img {
    width: 45ch;
}

/* blogs main section */
.blogsmainsection {
    display: flex;
    gap: 3rem;
    width: 100vw;
    flex-wrap: wrap;
}

.blogsmainsection > .blogssection {
    background-color: white;
    width: 60vw;
}

.blogsmainsection > .blogssection > .wrapper .child {
    background-color: #164e5b;
}

.blogsmainsection > .blogssection > .wrapper .child > h1,
.blogsmainsection > .blogssection > .wrapper .child > p {
    color: white;
}

.blog {
    padding: 1.25rem 1.9rem;
}

.blog > h1 {
    color: #52565e;
    font-family: "Roboto";
    font-size: 1.75rem;
    font-weight: 700;
    width: 40ch;
}

.blogdisription,
.blogdisription > h2 {
    display: flex;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    color: #6c757d;
    justify-content: space-evenly;
    width: 50%;
    padding-block: 0.5rem;
}

.blog > p {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #364d59;
    width: 85ch;
}

.blogsearch {
    padding: 1.875rem 1.875rem;
    box-shadow: 0px 4px 16px 0px #0000001a;
    height: max-content;
}

.blogsearch h1 {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 700;
    color: #52565e;
    margin-bottom: 1rem;
}

.blogsearch > div {
    display: flex;
    gap: 2rem;
    padding-bottom: 0.75rem;
}

.blogsearch > div h2,
.blogsearch > div p {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #52565e;
}

.blogsearch > div p {
    color: #364d5966;
}

.blogsearch > div p::before {
    content: "(";
}

.blogsearch > div p::after {
    content: ")";
}

.blogsearch > div > input {
    height: 2.5rem;
    width: 18.3rem;
    margin-bottom: 2.5rem;
}

.searchbtn {
    background-color: #0179fd;
    height: 2.5rem;
    width: 2.875rem;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
}

.blogsearch > .searchform {
    gap: 0;
}

.recent {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.blogsearch > h2 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.blogsearch > .recentcontent {
    padding-left: 1rem;
    display: block;
}

.blogsearch > .recentcontent h2 {
    padding-block: 0.5rem;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;
    width: 30ch;
}

/* clients secion */
.clients {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 700;
    padding-bottom: 5rem;
}

.clients > h1 {
    margin-bottom: 3.5rem;
    font-size: 2rem;
    color: #1f4255;
}

/* .clients > h1::after,
.clients > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.clients > h1::before {
    position: absolute;
    left: 45rem;
}

.clients > h1::after {
    position: absolute;
    right: 45rem;
} */

.clients > div {
    display: flex;
    gap: 10rem;
    animation: slideRight 40s ease-in-out infinite forwards;
}

.clients > div > img {
    width: fit-content;
    height: 8rem;
}

/* footer section */
.footer {
    background-image: url(images/footer_background.jpg);
    background-position: 40% 80%;
    background-repeat: no-repeat;
}

.footer-wrapper {
    background-color: #031024e1;
    padding-top: 10.3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.footer-wrapper > section {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.copyright {
    display: flex;
    gap: 0.3rem;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.copyright > h1 {
    font-weight: 700;
    font-size: 0.9rem;
}

.footer-wrapper > .flair {
    width: 63%;
    margin-block: 2rem;
    background-color: #ffffff26;
}

.linkswrapper {
    font-family: "Open Sans";
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links {
    min-width: 220px;
}

.links ul {
    flex-direction: column;
    gap: 1.5rem;
}

.links > h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1.7rem;
}

.links a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff99;
}

.links a:hover {
    color: white;
}

.address {
    margin-left: 5rem;
    position: relative;
    bottom: 0.6rem;
}

.address p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9rem;
}

.address > p {
    margin-bottom: 2rem;
}

.address > div {
    margin-bottom: 0.8rem;
}

.address h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 0.9rem;
}

.address h2::after {
    content: ":";
    padding-right: 0.3rem;
}

.address > img {
    margin-bottom: 1.25rem;
    position: relative;
    right: 2rem;
}

.label {
    display: flex;
}

/* contact section */
.contactsection img {
    width: 3vw;
}

.contactsection {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.contactsection div {
    text-align: center;
}

.addresssection {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 0px 25px 0px #00000014;
    padding: 2rem;
}

form > div {
    width: 90%;
    display: flex;
}

input {
    height: 3rem;
    font-size: large;
    padding-left: 0.9vw;
    width: 100%;
    border: 2px solid #dee2e6;
    border-radius: 0.4rem;
    color: #212529bf;
    margin-top: 1rem;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #0f6897;
}

.input {
    margin-right: 0.2rem;
}

.subject {
    width: 90%;
}

textarea {
    padding: 0.9vw;
    font-size: large;
    border: 2px solid #dee2e6;
    color: #212529bf;
    width: 90%;
    margin-bottom: 2vh;
}

.msgbtn {
    color: white;
    background-color: #0179fd;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.5vh;
    color: white;
    padding: 1.5vh;
    padding-inline: 5vh;
    width: fit-content;
    cursor: pointer;
}

iframe {
    width: 32vw;
    height: 78%;
}

.card {
    box-shadow: 0px 0px 25px 0px #00000014;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border: 2px solid #fff;
    border-radius: 1rem;
}

.card > h1 {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 700;
}

.contactbuttoncontainer {
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.contactbuttoncontentcontainer {
    overflow: hidden;
}

.contactbuttoncontent {
    transform: translateY(18rem);
    transition: transform 0.3s ease;
}

.showcontacts {
    transform: translateY(0);
    transition: transform 1s ease;
}

.contactbutton,
.phone,
.whatsup,
.telegramc,
.gmail {
    width: 3.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #0f6897;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}

.contactbutton:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

.contactbutton {
    background-image: url(images/contacts_product_FILL0_wght400_GRAD0_opsz24.svg);
    z-index: 100;
}

.phone {
    background-image: url(images/phone.svg);
}
.whatsup {
    background-image: url(images/logo-whatsapp.svg);
}

.telegramc {
    background-image: url(images/telegram-original.svg);
}

.gmail {
    background-image: url(images/mail-outline.svg);
}

.sub-input {
    height: 3rem;
    font-size: large;
    padding-left: 0.9vw;
    width: 20rem;
    border: 2px solid #dee2e6;
    border-radius: 0.4rem;
    color: #212529bf;
}

.subscribe-form {
    position: relative;
    display: flex;
    height: fit-content;
}

.subscribe-btn {
    position: absolute;
    border-radius: 6%;
    padding: 10px 20px;
    background-color: #0f6897;
    cursor: pointer;
    right: 0.4rem;
    bottom: 0.3vw;
}

@media (max-width: 50em) {
    .socialhub {
        width: 76vw;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .companyname {
        font-size: small;
        font-weight: 500;
    }
    .socialmedialogos {
        width: 26vw;
    }
    .socialmedialogos img {
        width: 4.5vw;
        height: 2vh;
    }
    .logo img {
        width: 12rem;
    }

    .nav [data-visible="true"] {
        transform: translatex(0%);
    }

    .nav > ul {
        flex-direction: column;
        background-color: hsl(215 82% 17% / 0.5);
        backdrop-filter: blur(1em);
        inset: 0 0 0 60%;
        padding: min(30vh, 10rem) 2rem;
        transform: translatex(100%);
        transition: transform 350ms ease-out;
        position: fixed;
        flex-basis: 100%;
    }

    .nav a {
        font-size: 1rem;
    }

    .mobile-menu {
        display: block;
        z-index: 9999;
        background-image: url(images/hamburgermenu.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        cursor: pointer;
    }

    .mobile-menu[aria-expanded="true"] {
        position: absolute;
        top: 2.7rem;
        right: 1.5rem;
        background-image: url(images/close.svg);
        background-repeat: no-repeat;
    }

    .aboutus > h1 {
        padding-top: 3rem;
        font-size: 1.5rem;
    }

    .aboutcontent {
        flex-direction: column;
    }

    .aboutus > h1,
    .aboutus > .flair {
        margin-left: 0;
    }

    .whychooseus {
        margin: 0;
    }

    .whychooseuscontent > .child {
        width: 60%;
    }

    .tabs-title > li,
    .tabs-title > li > a {
        font-size: 0.7rem;
        padding-bottom: 0.2rem;
    }

    /* achievmentsection */

    .achievments > .wrapper > .child img {
        width: 100%;
    }
    .achievments > .wrapper > .child {
        width: 70%;
    }

    /* blogsection */

    .blogssection > .wrapper > .fade > img,
    .blogssection > .wrapper > .fade > .child {
        width: 70vw;
    }
    /* footersection */

    .address {
        margin-left: 7%;
    }
    .links {
        margin-top: 5%;
    }
    .sub-input {
        height: 2rem;
        font-size: small;
    }
    .subscribe-btn {
        height: 0.6rem;
    }

    /* aboutussection
     */

    .aboutmain > div {
        width: 80%;
        padding: 0;
        margin-left: 10%;
    }
    .aboutmain p {
        width: 35ch;
        font-size: medium;
    }
    .overlay {
        min-width: 21rem;
        max-height: 32rem;
    }
    .overlay img {
        width: 21rem;
    }
    .aboutmain > .missionsection {
        width: 100%;
        margin-left: 0%;
    }
    .aboutmain > .missionsection > .missionsdiv {
        margin-left: 0%;
        width: 90%;
    }
    .aboutmain > .valuesection {
        width: 100%;
        height: 270vh;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        top: 0;
        padding-top: 0;
    }
    /* .flipcardcontent h1 {
        font-size: 1rem; */
    /* } */
    .valuesection > .cardholder {
        height: 150vh;
    }
    .valuesection > .cardholder .flipcard {
        height: 40vh;
        width: 100vh;
    }
    .flipcardcontent {
        height: 40vh;
    }
    .valuesection > .cardholder img {
        width: 100%;
        height: 100%;
    }

    .flipcardcontent p {
        text-align: left;
        font-size: small;
    }
    .flipcardcontent > h1 {
        left: -2.5rem;
    }
    /* our solutions */
    .oursolution h2 {
        width: 20rem;
    }
    .oursolution > div {
        display: flex;
        flex-wrap: wrap;
    }
    .oursolution > div .cardholder {
        width: 20rem;
    }
    .ourteamwrapper {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
    }
    .ourteam {
        flex-wrap: wrap;
    }
    .ourteam img {
        width: 20rem;
    }
    /* why choose us  */
    .whychooseusmain {
        height: 425vw;
    }
    .whychooseusmain h1 {
        padding-left: 2rem;
        padding-right: 0;
        font-size: 1rem;
        width: 2rem;
    }
    .whychooseusmain > .whychooseusb {
        width: 8rem;
        padding-left: 0;
    }
    .whychooseusnav > ul {
        margin-left: 0;
    }
    .whychooseusnav > ul > li a {
        font-size: 1rem;
        position: relative;
    }
    .whychooseusmaincontent {
        padding-left: 1rem;
        width: 13rem;
    }
    .whychooseusmaincontent p {
        font-size: 0.7rem;
    }
    .aboutmain h2 {
        width: 20rem;
    }
    .bullet .flex {
        width: 15rem;
    }
    .ourservice {
        margin-top: 0;
    }
    .foundationwrapper .card {
        width: 13rem;
        margin-left: 0;
    }
    .foundationwrapper .flex {
        margin-left: 0;
        padding-left: 0;
    }
    .foundationwrapper p {
        width: 13rem;
    }
    .foundationwrapper > .flex h1 {
        width: 11rem;
    }
    .foundationwrapper img {
        height: 35vw;
        width: 35vh;
        position: absolute;
        left: 10%;
    }

    .foundationwrapper .imagecontainer {
        height: 35vw;
        width: 25vh;
    }

    /* industries  */
    .industries > div > h2 {
        width: 13rem;
    }
    .footer .address {
        flex-wrap: wrap;
    }
    .copyright {
        margin-left: 20%;
    }
    /* servicepage */

    .servicesmain > .panelwrapper > div {
        flex-wrap: wrap;
    }
    .servicesmain {
        margin-left: 2rem;
    }
    .servicesmain > div p {
        width: 20rem;
    }
    .servicesmain h4 {
        width: 20rem;
    }
    .panelwrapper > div {
        width: 20rem;
    }
    .panelwrapper img {
        width: 20rem;
    }
    /* news/blogs  */
    main {
        margin-left: 1.8rem;
    }
    .blogsearch {
        width: 15rem;
        margin-left: 0;
    }
    .blogsearch > div > input {
        height: 2.5rem;
        width: 12rem;
        margin-bottom: 2.5rem;
    }
    .blogsmainsection > .blogssection > .wrapper {
        margin-left: 2.7rem;
    }
    /* contactsection  */
    .contactsection {
        width: 20rem;
    }
    .contactsection div {
        flex-wrap: wrap;
    }
    iframe {
        width: 100%;
    }
    .contactsection .card {
        height: 5rem;
    }
    .contactsection img {
        width: 10vw;
    }
    .addresssection .card {
        display: none;
    }
    form {
        margin-top: 4rem;
    }
}

/* animation section */
.animation {
    animation: slide-in 1s ease-in;
}

.fadein {
    animation: fade-in 1s ease-in forwards;
}

@keyframes slide {
    0%,
    10% {
        transform: translate(0%);
    }
    20%,
    30% {
        transform: translate(-25%);
    }
    40%,
    50% {
        transform: translate(-50%);
    }
    60%,
    70% {
        transform: translate(-75%);
    }
    80% {
        transform: translate(-50%);
    }
    90% {
        transform: translate(-25%);
    }
}

@keyframes slideRight {
    0%,
    50% {
        transform: translateX(-40%);
    }
    25%,
    100% {
        transform: translateX(40%);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(60%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.3;
        scale: 0.7;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
