*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

main {
    margin: 5rem;
    margin-left: 13vw;
}

.container {
    overflow-x: hidden;
}

/* social hub secion */

.socialhub {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: #017bfd38;
    align-items: center;
    position: relative;
}

.companyname {
    color: white;
}

.socialmedialogos,
.socialmedialogos img {
    display: flex;
    gap: 5%;
    height: 3vh;
}

/* hero */

.herosection {
    background-image: url(images/hero.png);
    background-size: cover;
    height: 100vh;
}

.subherosection {
    background-image: url(images/hero.png);
    background-size: cover;
}

.logo > img {
    padding-right: 1em;
    width: 15vw;
}

.sliders > div {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.sliders {
    width: 400%;
    display: flex;
    animation: slide 20000ms infinite;
}

span > img {
    width: 3rem;
    border-radius: 50%;
    transform: translatey(-8rem);
    z-index: 100;
    cursor: pointer;
}

.left {
    position: relative;
    left: 4rem;
    align-self: center;
    z-index: 100;
}

.right {
    position: relative;
    align-self: center;
}

.herocontent {
    display: flex;
    width: 100vw;
}

.carousel {
    width: 90%;
}

.herotitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 11vh;
    color: white;
    margin-top: 10vh;
    margin-bottom: 3vh;
}

.flair {
    width: 5rem;
    height: 0.2rem;
    border-radius: 2rem;
    background-color: #0179fd;
    content: "";
}

.herosubtitle {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 2.5vh;
    color: #ffffffcc;
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
}

.herobtn {
    cursor: pointer;
    color: white;
    background-color: #0179fd;
    border: none;
    border-radius: 4rem;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.3vh;
    color: white;
    padding: 2.2vh;
    padding-inline: 7vh;
    margin-bottom: 16rem;
    margin-top: 2vh;
}

.subhero-content {
    text-align: center;
    padding-bottom: 2vh;
}

.subhero-content h1 {
    color: white;
    font-family: "work sans";
    font-weight: 500;
    font-size: 3.5rem;
}

.subhero-content p {
    color: #0179fd;
    font-family: "open sans";
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.subhero-content p::before {
    content: "Home / ";
    color: #ffffffcc;
}

/* nav bar section */
.nav li,
.nav a,
li,
a {
    list-style: none;
    color: #ffffff99;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.2vw;
    text-decoration: none;
}

.dropdowncontent {
    display: none;
    padding-top: 1rem;
    z-index: 1;
}

.dropdowncontent > ul {
    display: block;
    background-color: #017bfd38;
    position: absolute;
}

.dropdowncontent > ul > li {
    padding: 1rem;
}

a:hover,
.dropdown:hover > a {
    color: #0179fd;
    font-weight: 400;
}

.dropdown:hover .dropdowncontent {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-inline: 5rem;
    margin-bottom: 2vh;
}

ul {
    display: flex;
    gap: 5vw;
}

.mobile-menu {
    display: none;
}

/* about section */

.aboutus {
    padding-left: 14vw;
}

.aboutus > h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.8vw;
    padding-top: 10rem;
    margin-bottom: 1.2rem;
    color: #52565e;
}

.aboutcontent {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.aboutcontent > p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.2rem;
    font-size: 1.2rem;
    max-width: 36vw;
    margin-top: 2rem;
    color: #364d59;
}

.aboutcontent > img {
    margin-right: 3rem;
    width: 26rem;
    width: 22vw;
    height: min-content;
}

.aboutmain {
    display: flex;
}

.aboutmain > div > h1 {
    font-family: "Work Sans";
    font-size: 48px;
    font-weight: 700;
    color: #364d59;
}

.aboutmaincontent {
    background-color: #f5f6f7;
    margin-top: 5rem;
    padding: 2.5rem 2.5rem;
    width: 69ch;
}

.aboutmaincontent > h3 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #838893;
}

.aboutmaincontent > h1 {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #52565e;
    padding-bottom: 1.5rem;
}

.aboutmaincontent > p {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #364d59;
    padding-bottom: 2rem;
    padding-right: 6rem;
}

.overlay {
    background-image: url("images/aboutbg.png");
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0, 0.815);
    max-height: 32rem;
    min-width: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6rem;
}

.overlayimg {
    width: min-content;
    height: min-content;
}

/* why choose us */
.whychooseus {
    background-image: url("images/whysection.jpeg");
    background-color: #08264fc9;
    background-position: 20%;
    background-size: cover;
    color: white;
}

.test {
    background-color: #08264fc9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 9rem;
    width: 100%;
}

.test > h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.test > h1::after,
.test > h1::before {
    content: "";
    background-color: white;
    height: 0.2rem;
    width: 3.15rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.test > h1::before {
    position: absolute;
    left: 47rem;
}

.test > h1::after {
    position: absolute;
    right: 47rem;
}

.whychooseuscontent {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.whychooseuscontent > .child {
    border-style: solid;
    border-width: 0.4rem;
    border-color: white;
    border-radius: 2rem;
    padding: 2.2rem;
    padding-top: 3rem;
}

.whychooseuscontent > .child > h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.4rem;
    font-size: 1.2vw;
}

.whychooseuscontent > .child > h2,
a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
}

.whychooseuscontent > .child > h2 {
    padding-bottom: 1rem;
    text-align: justify;
    width: 15vw;
}

.whychooseuscontent > .child > .flair {
    background-color: white;
    width: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
}

/* achivment section */
.achievments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.achievments > h1 {
    margin-bottom: 4.8rem;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2rem;
}

.achievments > h1::after,
.achievments > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.achievments > h1::before {
    position: absolute;
    left: 47rem;
}

.achievments > h1::after {
    position: absolute;
    right: 47rem;
}

.achievments > .wrapper {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.textwrapper {
    color: white;
    background-color: black;
    margin-top: -0.3rem;
    min-height: 6rem;
    align-content: center;
}

.textwrapper > p {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding-top: 10%;
}

/* services section */
.tabs-container {
    margin-top: 7.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-title {
    display: flex;
    width: 63%;
    justify-content: space-between;
}

.tabs-title > li > a {
    color: #52565e;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.05vw;
    padding: 1vw;
    padding-bottom: 1.25rem;
    border-bottom: 0.25rem solid #e2e4e6;
}

.tabs-title > li > a[aria-expanded="true"] {
    border-color: #0179fd;
    color: #0179fd;
}

.tabs-panels {
    margin-top: 3.12rem;
    width: 65%;
}

.panelwrapper[aria-expanded="true"] {
    display: flex;
    justify-content: space-evenly;
}

.panelwrapper h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2vw;
    color: #364d59;
    margin-bottom: 2.5rem;
    width: 43ch;
}

.panelwrapper p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1rem;
    color: #364d59;
    width: 55ch;
}

.panelwrapper img {
    width: 25vw;
}

/* main services section */
.servicesmain {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.servicesmain > div p {
    width: 50ch;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #364d59;
}

.servicesmain > div h1 {
    font-family: "Roboto";
    font-size: 1.2remx;
    font-weight: 700;
    color: #364d59;
    padding-block: 1rem;
}

.servicesmain .tabs-container {
    border: 1px solid #d5d7da;
    padding: 2rem 1rem;
    margin-top: 0rem;
}

.servicesmain .tabs-container ul {
    display: block;
}

.servicesmain .tabs-container li {
    padding-top: 2rem;
}

.servicesmain .tabs-container > ul > li > a {
    color: #52565e;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    border-left: 3px solid #0179fd;
    padding-left: 1.2rem;
}

.servicesmain > .panelwrapper[aria-expanded="true"] {
    display: block;
}

/* highlightes secion */
.highlightes {
    background-color: #081222;
    display: flex;
    justify-content: center;
    padding-block: 11vh;
    margin-top: 5.7rem;
    gap: 1.5rem;
}

.highlightes > .wrapper {
    display: flex;
    background-color: white;
    padding: 1.5rem 2rem;
    padding: 3vh 4.2vh;
}

.highlightes h1 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 2.25rem;
    color: #52565e;
    padding-right: 8vw;
}

.highlightes h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9rem;
}

/* blogs and anounsments section */
.blogssection {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 700;
    background-color: #edeef3;
    padding-bottom: 5rem;
}

.blogssection > h1 {
    margin-bottom: 3.5rem;
    font-size: 2rem;
}

.blogssection > h1::after,
.blogssection > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.blogssection > h1::before {
    position: absolute;
    left: 45rem;
}

.blogssection > h1::after {
    position: absolute;
    right: 45rem;
}

.blogssection > .wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;
}

.blogssection > .wrapper h1 {
    font-size: 1rem;
    color: #5c6068;
    padding-bottom: 1.62rem;
    padding-top: 1rem;
}

.blogssection > .wrapper p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    color: #364d59;
    padding-bottom: 1.62rem;
}

.blogssection > .wrapper .date {
    position: relative;
    bottom: 2.4rem;
    left: 22.5rem;
    background-color: #0179fd;
    padding: 0.5rem;
    width: fit-content;
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.81rem;
}

.blogssection > .wrapper .child {
    background-color: white;
    position: relative;
    bottom: 2.4rem;
    width: 52ch;
}

/* blogs main section */
.blogsmainsection {
    display: flex;
    gap: 3rem;
}

.blog {
    padding: 1.25rem 1.9rem;
}

.blog > h1 {
    color: #52565e;
    font-family: "Roboto";
    font-size: 1.75rem;
    font-weight: 700;
    width: 40ch;
}

.blogdisription,
.blogdisription > h2 {
    display: flex;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 400;
    color: #6c757d;
    justify-content: space-evenly;
    width: 50%;
    padding-block: 0.5rem;
}

.blog > p {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #364d59;
    width: 85ch;
}

.blogsearch {
    padding: 1.875rem 1.875rem;
    box-shadow: 0px 4px 16px 0px #0000001a;
    height: max-content;
}

.blogsearch h1 {
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 700;
    color: #52565e;
    margin-bottom: 1rem;
}

.blogsearch > div {
    display: flex;
    gap: 2rem;
    padding-bottom: 0.75rem;
}

.blogsearch > div h2,
.blogsearch > div p {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    color: #52565e;
}

.blogsearch > div p {
    color: #364d5966;
}

.blogsearch > div p::before {
    content: "(";
}

.blogsearch > div p::after {
    content: ")";
}

.blogsearch > div > input {
    height: 2.5rem;
    width: 18.3rem;
    margin-bottom: 2.5rem;
}

.searchbtn {
    background-color: #0179fd;
    height: 2.5rem;
    width: 2.875rem;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.blogsearch > .searchform {
    gap: 0;
}

.recent {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.blogsearch > h2 {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.blogsearch > .recentcontent {
    padding-left: 1rem;
    display: block;
}

.blogsearch > .recentcontent h2 {
    padding-block: 0.5rem;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;
    width: 30ch;
}

/* clients secion */
.clients {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 700;
    padding-bottom: 5rem;
}

.clients > h1 {
    margin-bottom: 3.5rem;
    font-size: 2rem;
}

.clients > h1::after,
.clients > h1::before {
    content: "";
    background-color: #028f2e;
    height: 0.15rem;
    width: 3rem;
    position: absolute;
    transform: translatey(1.1rem);
}

.clients > h1::before {
    position: absolute;
    left: 45rem;
}

.clients > h1::after {
    position: absolute;
    right: 45rem;
}

.clients > div {
    display: flex;
    gap: 10rem;
}

.clients img {
    max-width: 10rem;
}

/* footer section */
.footer {
    background-image: url(images/footer.jpeg);
    background-position: 10% 80%;
}

.footer-wrapper {
    background-color: #031024e1;
    padding-top: 10.3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper > section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.copyright {
    display: flex;
    gap: 0.3rem;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.copyright > h1 {
    font-weight: 700;
    font-size: 0.9rem;
}

.footer-wrapper > .flair {
    width: 63%;
    margin-block: 2rem;
    background-color: #ffffff26;
}

.linkswrapper {
    font-family: "Open Sans";
    display: flex;
    justify-content: space-around;
}

.links {
    min-width: 220px;
}

.links > ul {
    flex-direction: column;
    gap: 1.5rem;
}

.links > h1 {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1.7rem;
}

.links a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 0.9rem;
    color: #ffffff99;
}

.address {
    margin-left: 10rem;
    position: relative;
    bottom: 0.6rem;
}

.address p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9rem;
}

.address > p {
    margin-bottom: 2rem;
}

.address > div {
    margin-bottom: 0.8rem;
}

.address h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 0.9rem;
}

.address h2::after {
    content: ":";
    padding-right: 0.3rem;
}

.address > img {
    margin-bottom: 1.25rem;
    position: relative;
    right: 2rem;
}

.label {
    display: flex;
}

/* contact section */
.contactsection img {
    width: 3vw;
}

.contactsection {
    display: flex;
    gap: 4rem;
}

.contactsection div {
    text-align: center;
}

.addresssection {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 0px 25px 0px #00000014;
    padding: 2rem;
}

form > div {
    width: 90%;
    display: flex;
}

input {
    height: 5vh;
    font-size: large;
    padding-left: 0.9vw;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid #dee2e6;
    color: #212529bf;
}

.input {
    margin-right: 0.2rem;
}

.subject {
    width: 90%;
}

textarea {
    padding: 0.9vw;
    font-size: large;
    border: 2px solid #dee2e6;
    color: #212529bf;
    width: 90%;
    margin-bottom: 2vh;
}

.msgbtn {
    color: white;
    background-color: #0179fd;
    border: none;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.5vh;
    color: white;
    padding: 1.5vh;
    padding-inline: 5vh;
    width: fit-content;
}

iframe {
    width: 32vw;
    height: 78%;
}

.card {
    box-shadow: 0px 0px 25px 0px #00000014;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.card > h1 {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 700;
}

@media (max-width: 50em) {
    .logo > img {
        width: 12em;
    }

    .navbar {
        justify-content: space-between;
        width: 100%;
    }

    .nav [data-visible="true"] {
        transform: translatex(0%);
    }

    .nav > ul {
        flex-direction: column;
        color: hsla(215, 82%, 17%, 0.788);
        background-color: hsl(215 82% 17% / 0.5);
        backdrop-filter: blur(1em);
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2rem;
        transform: translatex(100%);
        transition: transform 350ms ease-out;
        position: fixed;
    }

    .mobile-menu {
        display: block;
        z-index: 9999;
        position: absolute;
        top: 4rem;
        right: 2rem;
        background-image: url(images/hamburgermenu.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
    }

    .mobile-menu[aria-expanded="true"] {
        background-image: url(images/close.svg);
        background-repeat: no-repeat;
    }

    .herocontent {
        margin-top: 5rem;
    }

    .herotitle {
        font-size: 2.4rem;
    }

    .herosubtitle {
        font-size: 0.7rem;
    }

    .herobtn {
        margin-bottom: 7rem;
        padding: 0.8rem;
        padding-inline: 2rem;
        font-size: 0.8rem;
    }

    .aboutus {
        padding-left: 1rem;
    }

    .aboutus > h1 {
        padding-top: 3rem;
        font-size: 1.5rem;
    }

    .aboutcontent {
        flex-direction: column;
    }

    .aboutcontent > h2 {
        font-size: 1rem;
        max-width: 45ch;
    }

    .aboutcontent > img {
        width: 20rem;
    }
}

/* animation section */
@keyframes slide {
    0%,
    10% {
        transform: translate(0%);
    }
    20%,
    30% {
        transform: translate(-25%);
    }
    40%,
    50% {
        transform: translate(-50%);
    }
    60%,
    70% {
        transform: translate(-75%);
    }
    80% {
        transform: translate(-50%);
    }
    90% {
        transform: translate(-25%);
    }
}
